@import "compass";
@import "compass/reset";

body, html {
  background-color: transparent;
  //background: #000 url('/assets/img/bg4.png') no-repeat;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  font-family: '$MENU_medium';
  color: #FFF;
  -webkit-font-smoothing: antialiased;
  @include user-select(none);
}

* {
  -webkit-font-smoothing: antialiased;
}

#toggle-message {
  position: absolute;
  top: 212px;
  left: 60px;
  text-transform: uppercase;
  font-size: 13px;
  transition: opacity 200ms ease;
  text-shadow: 0 0 6px #1551a0;

  &.hidden {
    opacity: 0;
  }

  &.visible {
    opacity: 1;
  }
}

#chat-main-container {
  position: absolute;
  top: 24px;
  left: 60px;
  // background-image: -webkit-linear-gradient(90deg, transparent, rgba(11, 148, 255, 0.2) 10%, rgba(11, 148, 255, 0.2) 90%, transparent 100%);
  // ^ This has a really good result in Chrome 41, but has a gray-ish look in WebUI.
  background-image: -webkit-linear-gradient(90deg, transparent, rgba(0, 173, 255, 0.36) 10%, rgba(0, 173, 255, 0.36) 90%, transparent 100%);
  box-shadow: inset 0 0 24px 13px rgba(110, 191, 255, 0.04), 0 0 24px 13px rgba(110, 191, 255, 0.04);
  border-radius: 2px;
  width: 400px;
  height: 190px;
  //transform: skewX(1deg) rotate(1deg);
  padding: 30px 15px;
  box-sizing: border-box;
  transition: opacity 200ms ease;

  &::before {
    content: '';
    position: absolute;
    top: 13px;
    left: 0;
    right: 0;
    bottom: 9px;
    width: 400px;
    height: 164px;
    background: transparent;
    box-shadow: inset 0 0 20px 5px rgba(0, 37, 60, 0.17), 0 0 20px 5px rgba(0, 37, 60, 0.17);
    z-index: -1;
  }

  &.hidden {
    opacity: 0;
  }

  &.visible {
    opacity: 1;
  }

  #chat-messages {
    width: 100%;
    height: 110px;
    overflow-y: hidden;
    overflow-x: hidden;
    word-wrap: break-word;

    &:hover {
      overflow-y: overlay;
    }

    &::-webkit-scrollbar {
      visibility: visible;
      background: rgba(231, 235, 239, 0.1);
      width: 5px;
      -webkit-border-radius: 10px;
      border-radius: 10px;
    }

    &::-webkit-scrollbar * {
      background: transparent;
    }

    &::-webkit-scrollbar-track {
      -webkit-border-radius: 10px;
      border-radius: 10px;
    }

    &::-webkit-scrollbar-thumb {
      -webkit-border-radius: 10px;
      border-radius: 10px;
      background: rgba(231, 235, 239, 0.4);
    }


    .chat-message {
      width: 100%;
      margin-bottom: 4px;
      text-shadow: 0 0 6px #1551a0;

      .author {
        font-family: '$MENU_medium';
        font-size: 14px;
        margin-right: 8px;
      }

      .content {
        font-family: '$MENU_medium';
        font-size: 13px;
      }

      &.all {
        .author {
          text-shadow: 0 0 6px #002A61;
        }
      }

      &.team {
        .author {
          color: #74edff;
          text-shadow: 0 0 6px #0055AA;
        }
      }

      &.enemy {
        .author {
          color: #FFBE7B;
          text-shadow: 0 0 6px #B33800;
        }
      }

      &.squad {
        .author {
          color: #D8FF80;
          text-shadow: 0 0 6px #245C00;
        }
      }

      &.spectator {
        .author {
          color: #ffed08;
          text-shadow: 0 0 6px #5c5c06;
        }
      }
    }
  }

  #chat-form {
    width: 380px;
    position: absolute;
    bottom: 24px;
    left: 10px;
    right: 10px;
    color: #fff;

    .message-input {
      width: 100%;
      box-sizing: border-box;
      background: rgba(3, 10, 15, 0.2);
      border: none;
      color: #fff;
      line-height: 20px;
      font-family: '$MENU_medium';
      font-size: 13px;
      padding: 0 10px 0 45px;

      &:focus, &:active {
        border: none;
        outline: 0;
      }
    }

    .chat-target {
      position: absolute;
      top: 5px;
      left: 5px;
      text-transform: uppercase;
      font-family: '$MENU_medium';
      font-size: 13px;
    }

    &.inactive {
      .chat-target {
        display: none;
      }
    }
  }
}