@font-face {
font-family: 'PuristaEA-Medium-Eula';
font-style: normal;
font-weight: normal;
src: url('../fonts/PuristaEA-Medium-Eula.ttf') format('truetype');
}
@font-face {
font-family: 'PuristaEA-Medium Store';
font-style: normal;
font-weight: normal;
src: url('../fonts/PuristaEA-Medium-Store.ttf') format('truetype');
}
@font-face {
font-family: 'PuristaEA-Medium';
font-style: normal;
font-weight: normal;
src: url('../fonts/PuristaEA-Medium.ttf') format('truetype');
}
@font-face {
font-family: 'PuristaEA-Semibold';
font-style: normal;
font-weight: normal;
src: url('../fonts/PuristaEA-Semibold.ttf') format('truetype');
}
@font-face {
font-family: 'Venice-Medium';
font-style: normal;
font-weight: normal;
src: url('../fonts/Venice-Medium.ttf') format('truetype');
}
@font-face {
font-family: 'Venice-SemiBold';
font-style: normal;
font-weight: normal;
src: url('../fonts/Venice-SemiBold.ttf') format('truetype');
}


@font-face {
font-family: 'TitilliumWeb-SemiBold';
font-style: normal;
font-weight: normal;
src: url('../fonts/TitilliumWeb-SemiBold.ttf') format('truetype');
}
