::-webkit-scrollbar { 
    display: none; 
}

#page {
    width: 100%; 
    height: 100%;    
    overflow: hidden;
    /*background-color: rgba(255, 255, 255,0.2);*/
    position:relative
}

#marker{
    position: absolute;
    left: 0px;
    right: 0px;
    width: 20px;
    height: 20px;
    background-color: rgba(244, 66, 179,1);
}